.App {
  display: flex;
  flex-direction: column;
  background-color: black;
  color:white;
  height:100vh;
  padding:30px;
  font-family:  sans-serif;
}
.userData{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:80px;
  
 
  align-items: flex-start;
  
}
input{
  border-radius: 5px;
  width:250px;
  height:18px;
  border: none;
  outline: none;
}
.inputSection{
  background-color: white;
  display: flex;
  align-items: center;
  width:300px;
  height:20px

}
p{
  color:black
}

button{
  border-radius: 5px;
  border:none;
  background-color: rgb(89, 89, 221);
  color:white;
  width:80px;
  height:25px
}
h1{
  
  
  font-size:40px;
  padding-left:50px
}
ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}