.listData{
    width:400px;
    background-color:rgb(89, 89, 221);
    color:white;
    display: flex;
    height:25px;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    border-radius: 5px;
    list-style-type: none;
    margin:10px
    
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100px
}